.App {
    text-align: center;
}

.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 80px;
}

.App-header {
    background-color: #222;
    height: auto;
    padding: 2%;
    color: white;
    flex: 1 100%;
    text-align: center;
}

.App-intro {
    font-size: large;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.post-card {
    border: 1px solid black;
    flex: 1;
    padding: 1em;
    margin: 1em;
}

li {
    list-style-type: none;
}


/*  Sources:
 *  https://css-tricks.com/snippets/css/a-guide-to-flexbox/
 *  https://css-tricks.com/dont-overthink-flexbox-grids/
 */


/* Medium screens */

@media all and (max-width: 800px) {}


/* Small screens */

@media all and (max-width: 500px) {
    .container {
        flex-direction: column;
        flex: 1 1 auto;
    }
    .post-card {
        margin: 0.5em;
        padding: 0 0.5em;
    }
}